.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

/* Common Section Layouts */
section {
  padding: 80px 10%;
  position: relative;
  width: 100%;
}

@media (max-width: 1024px) {
  section {
    padding: 60px 6%;
  }
}

@media (max-width: 768px) {
  section {
    padding: 50px 5%;
  }
}
